<button class="btn btn-primary" (click)="onGetEtudiants()">Etudiants</button>
<form #f="ngForm" (ngSubmit)="onChercher(f.value)">
  <div class="form-group">
    <label for="">Keyword</label>
    <input type="text" name="keyword" ngModel>
    <button type="submit" class="btn btn-success">Chercher</button>
  </div>
</form>
<table class="table table-striped" *ngIf="etudiants">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Noms</th>
        <th scope="col">Matricule</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of etudiants._embedded.etudiants">
        <th scope="row">{{e.id}}</th>
        <td>{{e.nom}}</td>
        <td>{{e.prenom}}</td>
        <td>{{e.matricule}}</td>
        <td>{{e.telephone}}</td>
        <td>{{e.email}}</td>  
     </tr>
    </tbody>
  </table>
  <ul *ngIf="pages" class="nav nav-pills">
    <li [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages; let i=index"  class="clickable">
      <a (click)="onGetPages(i)">{{ i }}</a>
    </li>
  </ul>
